<a href="https://colab.research.google.com/github/majorquev/Introduccion_a_ciencia_de_datos_R/blob/master/Clases/Clase1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Bastián Aballay Leiva <br>
**E-mail ayudante:** bastian.aballayleiva@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.
 
Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log() 
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp() 
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [33]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.

log(8)
sqrt(4)

x <- 9
exp(1)

[1] 2.079442

[1] 2

[1] 2.718282

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character 
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [30]:
# Podemos definir distintas variables

num <- 5.5
num2 = 6
# numéricas (numeric)
num2
num

[1] 6

[1] 5.5

[1] 9

In [5]:
# strings(character)
(palabra <- "miguel") #al colocar la sentencia entre paréntesis, la variable se imprime además de definirla.

[1] "miguel"

In [6]:
# valores lógicos (logical)
verdad <- TRUE

falso  <- FALSE

In [8]:
verdad & falso 
verdad | falso

[1] FALSE

[1] TRUE

In [10]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="

3 == 4
"hola" == "hola"

[1] FALSE

[1] TRUE

In [13]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 4
"hola" != "hola"


# Podemos asignar con la flechita en los dos sentidos
x <- 1
5 + 8 -> y

[1] TRUE

[1] FALSE

In [14]:
x
y

[1] 1

[1] 13

In [16]:
# podemos realizar comparaciones aritméticas

100 < 5
4 >= 4

[1] FALSE

[1] TRUE

In [21]:
# NOTA:valor infinito

Inf + Inf
Inf * 100000000000000
144444817244444812644444 > Inf

[1] Inf

[1] Inf

[1] FALSE

In [ ]:
# conector lógicos ( & es el "y", | es el "o" )

In [26]:
# date
no_fecha <- "2020-09-30" # YYYY-MM-DD por defecto R lo entiende muy bien ! :D

no_fecha
# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable
class(no_fecha)
class(num)
class(verdad)

# coercionamos a clase date

fecha <- as.Date(no_fecha)

[1] "2020-09-30"

[1] "character"

[1] "numeric"

[1] "logical"

In [28]:
fecha
class(fecha)

[1] "2020-09-30"

[1] "Date"

In [35]:
# Observación: Inmutabilidad de variables en R.

x <- 10

y <- x

y

[1] 10

In [36]:
x <- 11
x

[1] 11

In [37]:
# ¿Qué valor tiene y?
y # en R las asignaciones por defecto se realizan por valor y no por referencia.

[1] 10

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [41]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente
y
palabra

[1] "falso"    "fecha"    "no_fecha" "num"      "num2"     "palabra"  "verdad"
[8] "x"        "y"

[1] 10

[1] "miguel"

In [42]:
# remueva algunas de las variables generadas anteriormente
rm(palabra)

In [43]:
palabra

ERROR: ignored

In [44]:
ls()

[1] "falso"    "fecha"    "no_fecha" "num"      "num2"     "verdad"   "x"
[8] "y"

In [46]:
rm(list = c("falso", "no_fecha" ) )

In [47]:
ls()

[1] "fecha"  "num"    "num2"   "verdad" "x"      "y"

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [48]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA # Not available
NaN # Not a Number

[1] NA

[1] NaN

In [51]:
1/0

-1/0

0/0

[1] Inf

[1] -Inf

[1] NaN

In [54]:
4 == 4
5 == NA

NA == NA

[1] TRUE

[1] NA

[1] NA

In [57]:
# para identificar un valor NA o NaN podemos utilizar la función is.na


is.na(4)
is.na(NA)
is.na(NaN)

[1] FALSE

[1] TRUE

[1] TRUE